<h3>Movies</h3>
{{#each movieData}}
<h2><a href="/movies/{{this._id}}">{{this.title}}</a></h2>
<h3>Genre: {{this.genre}}</h3>
<h3>Plot: {{this.plot}}</h3>
<a href="/movies/{{this._id}}/edit">Edit the {{this.title}}</a>
<ul>
    <li>{{this.cast.name}}</li>
</ul>
{{/each}}


